
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    font-weight: bolder;
}

header, .hero {
    background: linear-gradient(41deg, rgb(17, 174, 247) 25%, rgba(66,175,255,1) 79%); 
    color: cornsilk;   
}

/***********NAVBAR**************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: cornsilk;
}

.logo {
    margin-left: 20rem;
    padding: 2rem;
    font-weight: bolder;
    font-size: 1.3rem;
    filter: drop-shadow(0 0 0.9rem rgb(255, 255, 255));
}

nav {
    margin-left: auto;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li  {
    display: inline-block;
    padding: 1rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: cornsilk;
}

.nav-links a:hover {
    color: rgb(218, 214, 218);
}

.ctn1 {
    background-color: transparent;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid cornsilk;
    font-size: 1.1rem;
    color: cornsilk;

}

.ctn1:hover {
    color: rgb(218, 214, 218);
    border: 1px solid rgb(218, 214, 218);
}

.ctna {
    display: inline-block;
    overflow: hidden;
    width: 120px;
    margin-left: 1rem;
    margin-right: 20rem;
}

.hamburger {
    display: none;
    color: white;
    /* margin: 20px auto; */
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1500px) {
    .hamburger {
        display: block;
        top: 5rem;
        padding: 1rem;
        justify-content: center;
    }

    .nav-links {
        position: fixed;
        left: -100%;
        top: 0rem;
        flex-direction: column;
        background-color: rgb(17, 174, 247);
        width: 100%;

        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .ctna {
        margin: 0;
    }

    .ctn1 {
        font-size: 1.1rem;
        margin: 1rem;
    }

    .nav-links.active {
        left: 0;
        z-index: 4;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }

    .logo {
        padding: 0;
        margin-left: auto;
    }
}

/***********COVER**************/

.hero {
    height: 80vh;
    margin-bottom: 1rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem;
}

.herotext {
    font-size: 1.5rem;
    width: 650px;
}


h1 {
    font-weight: bolder;
    font-size: 40px;
}

.cta {
    background-color: transparent;
    border: 1px solid cornsilk;
    border-radius: 5px;
    padding: 0.8em 1.2em;
    font-size: 1.1rem;
    color: cornsilk;
    outline: none;
}

.cta:hover {
    color: rgb(218, 214, 218);
    border: 1px solid rgb(218, 214, 218);
}

.phonemockup {
    height: 60vh;
    filter: drop-shadow(7px 5px 5px #a6afaf);
    padding-top: 1rem;
}

@media screen and (max-width: 1300px) {
    .phonemockup {
        display: none;
    }

    .hero {
        height: auto;
        font-size: 1rem;
        padding: 2rem;
        
    }

    .herotext{
        font-size: 1rem;
        width: auto;
        text-align: center;
        
        
    }
}

/***********FEATURES**************/

.features{
    text-align: center;
}

.features h3 {
    font-size: 2.3rem;
    text-align: center;
    padding-top: 3rem;
}

.icons  {
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 5rem;
    justify-items: center;
    font-size: 1.1rem;
    padding: 4rem;
}

.fa-4x {
    color: rgb(17, 174, 247);
}

@media screen and (max-width: 390px) {

    .icons {
        font-size: 1rem;
        gap: 1rem;
        grid-template-columns: auto;
    }

    .hamburger {
        padding-right: 1rem;
    }
}

/***********SECTION**************/

.responsive {
    background-color: rgb(218, 214, 218);
    height: 50vh;
    font-size: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    overflow-x: hidden;
}

.res-pic img {
    height: 90vh;
}

.res-text {
    width: 60rem;
    padding: 1rem;
}

@media screen and (max-width: 1873px) {
    .responsive {
        height: auto;
        padding: 2rem;
    }
    .res-pic img {
        display: none;
    }

    .res-text {
        padding: 0;
    }
}


/***********SECTION**************/

.mobile {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    overflow: hidden;
}

.mob-pic img {
    height: 25rem;
    padding: 0.5rem;
}

.mob-text {
    width: 60rem;
    padding: 2rem;
}

@media screen and (max-width: 1483px) {
    .mob-pic img {
        display: none;
}
    .mobile {
        height: auto;
        padding: 0;
    }
}


/***********SECTION**************/
.linear {
    height: 20vh;
    background: linear-gradient(41deg, rgb(17, 174, 247) 15%, rgba(66,175,255,1) 79%);
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
}


.linear h2 {
    color: cornsilk;
    font-size: 2rem;
    padding: 1rem;
}


.cta2 {
    background-color: transparent;
    border: 1px solid cornsilk;
    border-radius: 5px;
    padding: 0.8em 1.2em;
    font-size: 1.1rem;
    color: cornsilk;

}

.cta2:hover {
    color:rgb(218, 214, 218);
    border: 1px solid rgb(218, 214, 218);
}

@media screen and (max-width: 300px) {
    .linear h2 {
        font-size: 1rem;
        
    }
}

/***********FOOTER**************/

footer {
    padding: 3rem;
    text-align: center;
    height: 8vh;
    background-color: rgb(218, 214, 218);
}

/* @media screen and (max-width: 300px) {
    .footer {
        padding-bottom: 3rem;
    }
} */


/***********BACK TO TOP**************/

#sticky {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 3rem; /* Place the button at the bottom of the page */
  right: 3rem; /* Place the button 30px from the right */
  z-index: 99;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(218, 214, 218); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 100px; /* Rounded corners */
  background-color:rgb(218, 214, 218);
  width: 4rem;
  height: 4rem;

}

.fa-3x {
    color: rgb(17, 174, 247);
    line-height: 1rem;
}


@media screen and (max-width: 300px) {
    #sticky {
        bottom: 0.1rem;
        right: 0.3rem;
        transform: scaleZ(-50px);
        width: 3rem;
        height: 3rem;

    }
}


/***********DEMO**************/

.livedemo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.livedemo p {
    font-size: 2rem;
    padding: 2rem;
}

.figma {
    border: none;
    width: 50vh;
    height: 80vh;
    align-items: center; 
}

@media screen and (max-width: 1500px) {
    .livedemo p {
        font-size: 1.1rem;
    }

    .figma {
        height: 70vh;
        width: 40vh;
    }
}